#NPM
node_modules


## Packs
packs/**/*.log
packs/**/*.old
packs/**/*.ldb
packs/**/LOCK
packs/**/MANIFEST
packs/**/CURRENT
packs/**/LOG
packs/**/MANIFEST-*


## Foundry
*.lock
foundry.js
dnd5e.mjs